@import "tailwindcss";

@theme {
  --color-background: #0B0F19;
  --color-surface: #1A1F2C;
  --color-primary: #6366F1;
  --color-secondary: #A855F7;
  --color-accent: #F43F5E;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: white;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
  }
}
